body {
    background-color: #FAF9F6;
    font-family: Arial, Helvetica, sans-serif;    
}

/* Header */

header {
    background-color: #FFD1D7;
    min-height: 200px;
    background-image: url(imagens/Banner\ 1.png);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    padding: 0 20px;    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;    
}

header img {
    width: 180px;
    height: auto;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-left: 0px;
    margin-right: 20px;
    position: relative;
    padding-left: 0px;
    
}

nav ul li a {
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    color: #333333;
    font-weight: bold;
}

nav ul li:hover > ul {
    display: block;
}

nav ul li a:hover {
    background-color: #FFD1D7;
    border-radius: 8px;
}

nav ul ul {
    display: none;
    position: absolute;
    background-color: #FFD1D7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 0px;
    padding: 0px;
    border-radius: 8px;
    box-sizing: border-box;
}

nav ul ul ul {
    left: 100%;
    top: 0;
    box-sizing: border-box;
}

nav ul ul li {
    display: block;
    margin-right: 0;
    padding: 0px;
    position: relative;
}

nav ul ul li a {
    color: #333333;
    padding: 8px 15px;
    text-decoration: none;
    display: block;
    text-align: center;
    box-sizing: border-box;
    width: 100%;    
}

nav ul ul li a:hover {
    background-color: #FF8BAA;
    color: white;
}

h1 {
    color: #333333;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
}

a {
    color: #B8860B;
}

.header-right-content {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

/* Main */ 

main {
    max-width: 900px;
    margin: 0 auto;    
}

section {
    background-color: white;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Seção: Boas-vindas */

.intro-welcome {
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.intro-content-wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

.intro-welcome h2 {
    color: #333333;
    margin-bottom: 15px;
    text-align: center;
    font-size: 2em;
}

.intro-text-block {
    flex-basis: 65%;
    flex-grow: 1;
}

.intro-text-block p {
    text-align: justify;
    font-size: 1.05em;
    color: #555555;
}

.intro-image-block {
    flex-basis: 35%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-image-block img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.intro-welcome strong {
    color: #333333;
    font-weight: bold;
}

/* Seção: Quem somos */ 

.bio-container {
    display: flex;
    gap: 30px;
    align-items: center;
}

.bio-container h3 {
    text-align: center;
    color: #333333;
    margin-bottom: 15px;
}

.bio-img {
    flex-shrink: 0;
    width: 35%;
    text-align: center;
}

.bio-img img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow:  0px 4px 10px rgba(0, 0, 0, 0.15);
    object-fit: cover;    
}

.bio-text {
    flex-grow: 1;
}

.bio-text p {
    text-align: justify;
    margin-bottom: 1em;
}

h2 {
    color: #333333;
    margin-bottom: 15px;
    text-align: center;
    font-size: 2em;
}

h3 {
    color: #333333;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 1.5em;
}

h4 {
    color: #444444;
    margin-top: 15px;
    margin-bottom: 8px;
    font-size: 1.2em;
}

p {
    color: #555555;
    line-height: 1.6;
    margin-bottom: 1em;
}

/*Seção: Depoimento de clientes*/

.testimonial-swiper-container {
    width: 100%;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
    padding: 0 40px;
}

.testimonial-card {
    background-color: #f7f7f7;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: auto;
    max-width: 100%;
    min-height: 250px;
    margin: 0 auto;
}

.testimonial-card p {
    font-style: italic;
    color: #333333;
    line-height: 1.5;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 1em;
}

.swiper-slide {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100% !important;
}

.swiper-button-next,
.swiper-button-prev {
    color: #FF8BAA;
    --swiper-navigation-color: #FF8BAA;
    font-size: 2.5em;
    top: 50%;
    transform: translateY(-50%);
    width: var(--swiper-navigation-color);
    height: var(--swiper-navigation-color);
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 2.5em;
}

.swiper-button-prev {
    left: 10px;
}

.swiper-button-next {
    right: 10px;
}

.swiper-pagination-bullet {
    background-color: #ccc;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #FF8BAA;
}

.rating {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.rating .fa-star {
    color: #FF8BAA;
}

.client-info {
    border-top: 1px solid #eeeeee;
    padding-top: 10px;
    font-size: 0.9em;
    color: #777777;
    font-weight: 500;
}

.client-name {
    font-weight: bold;
    color: #555555;
}

.service-name {
    color: #999999;
}

/*Seção: Rodapé*/

footer {
    background-color: #FFD1D7;
    color: #333333;
    padding: 10px 0px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
    border-radius: 8px;    
}

.footer-groups {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

.footer-content {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;
}

.footer-content p {
    margin: 5px 0;
    font-size: 0.9em;
    color: #333333;
    flex-shrink: 0;
    flex-basis: auto;
    max-width: 40%;
}

.footer-links a,
.social-media a {
    color: #333333;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    font-size: 0.9em;
}

.footer-links a:hover,
.social-media a:hover {
    color: #DD8BAA;
    text-decoration: underline;
}

.footer-links,
.social-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px 0;
}

/*Responsividade*/

@media (max-width: 768px) {
    header {
        min-height: auto;
        flex-direction: column;
        padding: 10px 20px;
    }

    header img {
        position: static;
        width: 120px;
        margin-bottom: 10px;
        transform: none;
        left: auto;
        top: auto;
    }

    .header-right-content{
        width: 100%;
        order: 2;
    }

    h1 {
        font-size: 1.5em;
        text-align: center;
        margin-bottom: 10px;
    }

    nav ul li {
        margin: 0 5px;
    }

    .intro-content-wrapper{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .intro-text-block {
        flex-basis: 100%;
        order: 2;
    }

    .intro-text-block p {
        text-align: justify;
    }

    .intro-image-block {
        flex-basis: 100%;
        order: 1;
    }

    .intro-image-block img {
        max-width: 80%;
    }

    .bio-container {
        flex-direction: column;
        text-align: center;
    }

    .bio-img {
        width: 60%;
        margin: 0 auto 20px auto;
    }

    .testimonial-swiper-container {
        padding: 0 5px;        
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 1.0em;
    }

    .footer-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .footer-groups {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    .footer-links,
    .social-media {
        flex-direction: column;
        gap: 5px;
    }
}